# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: besttrade

on:
  push:
    branches: [ '**' ]
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with unittest
      run: |
        coverage run -m unittest discover
    - name: Generate unit test coverage report
      run: |
        coverage report --fail-under=75 -m
    - name: Generate coverage HTML report
      run: |
        coverage html
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: test-coverage
        path: |
          .coverage/**
    - name: print out ref
      run: echo ${{ github.ref }}
  deploy:
    if: github.event_name == 'release' || github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v2
    - name: Generate deployment package
      run: |
        zip -r besttrade.zip . -x *.git* *.venv/**\*
    - name: Archive code artifact
      uses: actions/upload-artifact@v2
      with:
        name: besttrade
        path: besttrade.zip
    - name: Calculate environment for Elastic Bean deployment
      id: env_params
      run: |
        if ${{ github.event_name == 'release' }}
        then
          echo "Production release detected"
          echo "Setting EB environment to: Ebflaskdemo"
          echo "Setting version number to: ${GITHUB_REF#/refs/heads}"
          echo "::set-output name=EB_ENV::Ebflaskdemo"
          echo "::set-output name=VERSION::${GITHUB_REF#refs/heads/}"
        else 
          echo "Non Production release detected"
          echo "Setting EB environment to: Ebflaskdemo_env"
          echo "Setting version number to: ${GITHUB_SHA::7}"
          echo "::set-output name=EB_ENV::Ebflaskdemo-env"
          echo "::set-output name=VERSION::${GITHUB_SHA::7}"
        fi
    - name: Deploy artifac to AWS Elastic Beanstalk
      uses: einaregilsson/beanstalk-deploy@v18
      with:
        aws_access_key: ${{ secrets.AWS_KEY_ID }}
        aws_secret_key: ${{ secrets.AWS_ACCESS_KEY }}
        application_name: ebflaskdemo
        environment_name: ${{ steps.env_params.outputs.EB_ENV }}
        version_label: ${{ steps.env_params.outputs.VERSION }}
        region: us-west-2
        deployment_package: besttrade.zip

