# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: besttrade

on:
  push:
    branches: [ '**' ]
  release:
    types: [created]

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
    - name: Set production conditional environment values
      if: github.event_name == 'release'
      run: |
        echo "EB_ENV=Ebflaskdemo" >> $GITHUB_ENV
    - name: Set non-production conditional environment values
      if: github.event_name != 'release'
      run: |
        echo "EB_ENV=Ebflaskdemo_env" >> $GITHUB_ENV
    - name: Extract branch name
      id: extract_branch
      shell: bash
      run: echo "BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
    - name: Print branch name
      run:  echo ${{ env.BRANCH_NAME }}
  build:
    runs-on: ubuntu-latest
    needs: setup
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with unittest
      run: |
        coverage run -m unittest discover
    - name: Generate unit test coverage report
      run: |
        coverage report --fail-under=75 -m
    - name: Generate coverage HTML report
      run: |
        coverage html
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: test-coverage
        path: |
          .coverage/**
  deploy:
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v2
    - name: Generate deployment package
      run: |
        zip -r besttrade.zip . -x *.git* *.venv/**\*
    - name: Archive code artifact
      uses: actions/upload-artifact@v2
      with:
        name: besttrade
        path: besttrade.zip
    - name: Deploy artifac to AWS Elastic Beanstalk
      uses: einaregilsson/beanstalk-deploy@v18
      with:
        aws_access_key: ${{ secrets.AWS_KEY_ID }}
        aws_secret_key: ${{ secrets.AWS_ACCESS_KEY }}
        application_name: ebflaskdemo
        environment_name: ${{ env.EB_ENV }}
        version_label: ${{ env.GITHUB_HEAD_REF }}
        region: us-west-2
        deployment_package: besttrade.zip

